/* footer.scss */
.footer {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    background-color: $accent-color;

    p {
        color: $font-color;
        padding: 50px;
    }

    a {
        color: $font-color;
    }
}

.footer .social {
    font-size: 3rem;
    padding: 50px;
}
