/* typography.scss */
body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: $font-color-alternative;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.6em;
    font-weight: bold;
}

.me {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 1em;
}

